@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

body {
    color: #d1cccc;
    background-color: #0e0e0e;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    margin: 0px auto 0px auto;
    width: 730px;
}

div#header {
    border-bottom: 2px solid #d1cccc;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: #d1cccc;
    float: left;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: #d1cccc;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: 2px solid #d1cccc;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

a {
    color: #6666ff;
}

a:hover {
    color: #8c4481;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
