<!-- Post card template - A card to tease for a post with an image on top

Expected values on context:
- title: Card title
- teaser, body: Card text; preference: teaser, body
- more_url, url: url for complete page; preference: more_url, url
- more: "Read More" text; default to "Read More"
- img: Path to card image
- img_alt: Image's alt text

-->

<div class="mdl-cell mdl-card mdl-shadow--2dp">
  <!-- Post Image -->
  <div class="mdl-card__media">
    $if(img)$
    <img class="article-image" src="$img$" border="0" alt="">
    $endif$
  </div>
  <!-- Post Title -->
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">$title$</h2>
  </div>
  <!-- Post Abstract -->
  $if(date)$
  <div class="mdl-card__supporting-text">
    $date$
    $if(chiptags)$
      <br/>
      $chiptags$
    $endif$
  </div>
  $endif$
  <div class="mdl-card__supporting-text">
    $teaser$
    <!-- $if(teaser)$ $teaser$ $else$ $body$ $endif$ -->
  </div>
  <!-- Full Post Link -->
  <div class="mdl-card__actions mdl-card--border">
    $if(more_url)$
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="$more_url$">
    $else$
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="$url$">
    $endif$
    $if(more)$
      $more$
    $else$
      Read More
    $endif$
  </a>
  </div>
</div>
